
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {

  --primary-color   : #021832;
  --secondary-color:#caa169;
  --bg-color:#f4f4f4;
  --bg-white: #fff;
  --bg-black:#000;


  --primary-font: "Poppins",'Sans-serif';
  --secondary-font: "oswalad",'Sans-serif' ;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black : #15151515;
    --text-gray: #e4e4e4;
  


};


body{
font-family: var(--primary-font);
background-color:var(--bg-white);


}

a{

    text-decoration: none;
}
::-webkit-scrollbar{
width: .375rem;
}
::-webkit-scrollbar-track{
    background-color:var(--secondary-color);
    }
::-webkit-scrollbar-thumb{
background: var(--primary-color);

}
section{

    padding: 3.12rem 0;

}
.main-btn{
    font-size: 1rem;
    font-weight: 500;
    color:var(--primary-color);
    text-transform: uppercase;
    background-color:transparent;
    border: 0.125rem solid var(--primary-color);
    padding: .375rem 2.875rem;
    border-radius: 1.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: 0.3s ease-out;
    text-decoration: none;
    


}

.main-btn:hover{

    background-color:var(--secondary-color);
    border: var(--secondary-color);
    color:var(--bg-white);
}
h1{

    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}
h3{

    margin-bottom: 4.25rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color:var(--primary-text);
    font-family: var(--secondary-color);
}
h3 span{


    color:var(--secondary-color);
}
h5{

    font-size: 1.5rem;
    line-height: 1;
    color: var(--primary-text);
    font-weight: 500;
    font-family: var(--secondary-font);
}
h6{

    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem ;
    text-transform: uppercase;
    font-weight:  300;
    font-family:var(--secondary-font);
     
}
P{
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;

}

.section-title::after{

    content: "";
    background-image:url('../images/title-icon.webp');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: .9375rem;
    
}